# Project 1: Explore Weather Trends

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [4]:
globaltemp = pd.read_csv('global_results.csv')
citytemp = pd.read_csv('chicago_results.csv')

In [5]:
print(globaltemp, citytemp)

     year  avg_temp  sevenDayMA  FiveYearMA  TenYearMA
0    1750      8.72         NaN         NaN        NaN
1    1751      7.98         NaN         NaN        NaN
2    1752      5.78         NaN         NaN        NaN
3    1753      8.39         NaN         NaN        NaN
4    1754      8.47         NaN       7.868        NaN
..    ...       ...         ...         ...        ...
261  2011      9.52    9.588571       9.578      9.554
262  2012      9.51    9.561429       9.534      9.548
263  2013      9.61    9.572857       9.570      9.556
264  2014      9.57    9.550000       9.582      9.581
265  2015      9.83    9.607143       9.608      9.594

[266 rows x 5 columns]      year     city        country  avg_temp  sevenDayMA  FiveYearMA  TenYearMA
0    1743  Chicago  United States      5.44         NaN         NaN        NaN
1    1744  Chicago  United States     11.73         NaN         NaN        NaN
2    1745  Chicago  United States      1.80         NaN         NaN        NaN
3    1746  Chicago  United States      0.00         NaN         NaN        NaN
4    1747  Chicago  United States      0.00         NaN       3.794        NaN
..    ...      ...            ...       ...         ...         ...        ...
266  2009  Chicago  United States     10.30   10.980000      11.088     11.118
267  2010  Chicago  United States     11.82   11.171429      11.136     11.191
268  2011  Chicago  United States     11.21   11.210000      11.004     11.142
269  2012  Chicago  United States     12.82   11.387143      11.278     11.271
270  2013  Chicago  United States     11.59   11.347143      11.548     11.382

[271 rows x 7 columns]

In [10]:
# Calculate Moving Average

globaltemp.set_index('year', inplace=True)

globaltemp.index.name = 'Year'

globaltemp['Avg_Temperature'] = globaltemp.mean(axis=1)

globaltemp.head()

AttributeError: 'Series' object has no attribute 'set_index'